@model BoilerplatePro.Web.Models.Home.HomeViewModel
@using System.Web.Optimization
@{
    ViewBag.ActiveMenu = PageNames.Home; //The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" />
}
@section scripts{
    @Scripts.Render("~/Bundles/home-index")
}
<div class="block-header">
    <h2>DASHBOARD</h2>
</div>

<input type="hidden" id="TenHourTransfers" value="@Model.TenHourTransfers" />
<input type="hidden" id="TransfersByStatusses" value="@string.Join(",", Model.TransfersByStatus)" />

<!-- Widgets -->
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect home-top-blocks">
            <div class="icon">
                <i class="material-icons">playlist_add_check</i>
            </div>
            <div class="content">
                <div class="text">24HR TRANSFERS</div>
                <div class="number count-to" data-from="0" data-to="@Model.TwentyFourHourTransfersCount" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect home-top-blocks">
            <div class="icon">
                <i class="material-icons">help</i>
            </div>
            <div class="content">
                <div class="text">WAITING TRANSFERS</div>
                <div class="number count-to" data-from="0" data-to="@Model.WaitingTransfersCount" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect home-top-blocks">
            <div class="icon">
                <i class="material-icons">dns</i>
            </div>
            <div class="content">
                <div class="text">ENDPOINTS ALERT</div>
                <div class="number count-to" data-from="0" data-to="@Model.Endpoints.Where(x=>x.LastSeenDate < DateTime.Now.AddHours(-6)).Count()" data-speed="10" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-expand-effect home-top-blocks">
            <div class="icon">
                <i class="material-icons">folder</i>
            </div>
            <div class="content">
                <div class="text">COST CENTERS</div>
                <div class="number count-to" data-from="0" data-to="@Model.CostCenterCount" data-speed="10" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>TRANSFERS STARTED BY HOUR</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 align-right">
                        <div class="switch panel-switch-btn">
                            <span class="m-r-10 font-12">AUTO-REFRESH</span>
                            <label>OFF<input checked="checked" type="checkbox" id="realtime"><span class="lever switch-col-cyan"></span>ON</label>
                        </div>
                    </div>
                </div>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="real_time_chart" class="dashboard-flot-chart"></div>
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
<div class="row clearfix">
    <!-- Visitors -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="body bg-pink home-mid-blocks">
                <div class="sparkline" data-type="line" data-spot-Radius="4" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#fff"
                     data-min-Spot-Color="rgb(255,255,255)" data-max-Spot-Color="rgb(255,255,255)" data-spot-Color="rgb(255,255,255)"
                     data-offset="90" data-width="100%" data-height="92px" data-line-Width="2" data-line-Color="rgba(255,255,255,0.7)"
                     data-fill-Color="rgba(0, 188, 212, 0)">
                    @string.Join(",", Model.ThreeDayTransferCounts.Reverse())
                </div>
                <ul class="dashboard-stat-list">
                    <li>
                        TODAY
                        <span class="pull-right"><b>@Model.ThreeDayTransferCounts[0]</b> <small>TRANSFERS</small></span>
                    </li>
                    <li>
                        YESTERDAY
                        <span class="pull-right"><b>@Model.ThreeDayTransferCounts[1]</b> <small>TRANSFERS</small></span>
                    </li>
                    <li>
                        2 DAYS AGO
                        <span class="pull-right"><b>@Model.ThreeDayTransferCounts[2]</b> <small>TRANSFERS</small></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Visitors -->
    <!-- Latest Social Trends -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="body bg-cyan home-mid-blocks">
                <div class="m-b--35 font-bold">LATEST ENDPOINT ALERTS</div>
                <ul class="dashboard-stat-list">
                    @foreach (BoilerplatePro.nuDirect.EndpointEntities endpoint in Model.Endpoints.Where(x => x.LastSeenDate < DateTime.Now.AddHours(-6)).Take(6))
                    {
                        <li>@Html.ActionLink(endpoint.Description, "ShowEndpointData", "Endpoints", new { id = endpoint.EndpointId }, new { style = "color:white; text-decoration:underline;" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Latest Social Trends -->
    <!-- Answered Tickets -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="body bg-teal home-mid-blocks">
                <div class="font-bold m-b--35">MOST ACTIVE COST CENTERS</div>
                <ul class="dashboard-stat-list">
                    @foreach (BoilerplatePro.Web.Models.Home.CostCenterCountModel count in Model.MostActiveCostCenters)
                    {
                    <li>
                        @count.CostCenterName
                        <span class="pull-right"><b>@count.CostCenterCount</b> <small>TRANSFERS</small></span>
                    </li>
                    }
                    @Html.ActionLink("View All" ,"TransfersByEntity", "Transfers", new { EntityType = "CostCenter", StartDate=DateTime.Now.ToString("yyyy-MM-dd"), EndDate = DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd") }, new { style="color:white; text-decoration:underline;" })
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Answered Tickets -->
</div>
<div class="row clearfix">
    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card home-bottom-blocks">
            <div class="header">
                <h2>QUICK LINKS</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    @Html.ActionLink("View Customers", "Index", "Customers")<br/>
                    @Html.ActionLink("View Endpoints", "Index", "Endpoints")<br/>
                    @Html.ActionLink("View Transfers by Cost Center for the last 7 days", "TransfersByEntity", "Transfers", new { EntityType = "CostCenter", StartDate = DateTime.Now.ToString("yyyy-MM-dd"), EndDate = DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd") }, null)<br/>
                    @Html.ActionLink("View Transfers by Customer for the last 7 days", "TransfersByEntity", "Transfers", new { EntityType = "Customer", StartDate = DateTime.Now.ToString("yyyy-MM-dd"), EndDate = DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd") }, null)<br/>
                    @*<table class="table table-hover dashboard-task-infos">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Task</th>
                                    <th>Status</th>
                                    <th>Manager</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Task A</td>
                                    <td><span class="label bg-green">Doing</span></td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Task B</td>
                                    <td><span class="label bg-blue">To Do</span></td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Task C</td>
                                    <td><span class="label bg-light-blue">On Hold</span></td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-light-blue" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Task D</td>
                                    <td><span class="label bg-orange">Wait Approvel</span></td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Task E</td>
                                    <td>
                                        <span class="label bg-red">Suspended</span>
                                    </td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-red" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>*@
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Task Info -->
    <!-- Browser Usage -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card home-bottom-blocks">
            <div class="header">
                <h2>TRANSFER STATUS SUMAMRY</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="donut_chart" class="dashboard-donut-chart"></div>
            </div>
        </div>
    </div>
    <!-- #END# Browser Usage -->
</div>

<style>
    .home-top-blocks{
        min-height: 100px;
    }

    .home-mid-blocks {
        min-height: 300px;
    }

    .home-bottom-blocks {
        min-height: 400px;
    }
</style>