@model IEnumerable<BoilerplatePro.nuDirect.EndpointEntities>

@{
    ViewBag.Title = "Index";
}

<div class="card">
    <div class="header">
        <h2>Endpoints</h2>
    </div>
    <div class="body">
        <table class="table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Status
                </th>
                <th>
                    Last Seen
                </th>
                <th>
                    Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enabled)
                </th>
                <th>
                    Primary Contact
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndpointId)
                    </td>
                    <td>
                        @Html.ActionLink(item.Description, "ShowEndpointData", new { id = item.EndpointId })
                    </td>
                    <td>
                        @if (item.LastSeenDate < DateTime.Now.AddDays(-1) && item.epType != "SFTP Server")
                        {
                            <i class="material-icons" style="color:red;">report</i>
                        }
                        else if (item.LastSeenDate < DateTime.Now.AddHours(-6) && item.epType != "SFTP Server")
                        {
                            <i class="material-icons" style="color:orange;">help</i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastSeenDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.epType)
                    </td>
                    <td>
                        <input type="checkbox" name="Enabled" value="true" id="Enabled" class="filled-in" @(item.Enabled == true ? "checked" : "") />
                        <label for="Enabled"></label>
                    </td>
                    <td>
                        @if (item.customer.Contacts.Count() == 0)
                        {
                            <p>No Contact Specified</p>
                        } else {
                        @Html.Raw(item.customer.Contacts.First().Surname +", " + @item.customer.Contacts.First().Name + "<br/>" +
                        @item.customer.Contacts.First().Mobile + "<br/>")
                        <a href="mailto:@item.customer.Contacts.First().Email" target="_blank">@item.customer.Contacts.First().Email</a>
                        }
                    </td>
                </tr>
            }
    </div>
</div>
</table>
