@model BoilerplatePro.nuDirect.CustomerEntities
@{
    ViewBag.Title = "Customer Information";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4>Customer</h4>
            </div>
            <div class="body">
                <p><strong>ID:</strong> @Model.CustomerId</p>
                <p><strong>Company Name:</strong> @Model.Company</p>
                <p><strong>City:</strong> @Model.City</p>
                <p><strong>Country:</strong> @Model.Country</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4>Contacts</h4>
            </div>
            <div class="body">
                <h5>Contacts</h5>
                @foreach(BoilerplatePro.nuDirect.ContactEntities contact in Model.Contacts)
                {
                    <div style="background-color: lightseagreen; padding: 15px; margin: 5px; width: 95%; border-radius: 5px; display: inline-block; color: white !important;">
                        <p><i class="material-icons">person</i> <strong>@(contact.Surname + ", " + contact.Name)</strong></p>
                        <p>
                            <i class="material-icons">phone</i> @contact.Mobile<br />
                            <i class="material-icons">phone</i> @contact.LandLine<br />
                            <i class="material-icons">email</i> <a href="mailto:@contact.Email" target="_blank" style="color:white !important;">@contact.Email</a>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h5>Endpoints</h5>
            </div>
            <div class="body">
                @foreach (BoilerplatePro.nuDirect.EndpointEntities endpoint in ViewBag.Endpoints)
                {
                    <div style="background-color:deeppink; padding:15px; margin:5px; width:31%; border-radius:5px; display:inline-block; color:white !important">
                        <strong>@Html.ActionLink(endpoint.Description, "ShowEndpointData", "Endpoints", new { id = endpoint.EndpointId }, new { style="color:white !important; text-decoration: underline;" })</strong><br /><br/>
                        <i class="material-icons">check_circle</i>   @(endpoint.Enabled  ? "Enabled":"Disabled")<br />
                        <i class="material-icons">dns</i>   @(endpoint.epType)<br />
                        <i class="material-icons">folder</i>   @(endpoint.folders.Count())<br />
                    </div>
                }
            </div>
        </div>
    </div>

    @*<div class="col-md-6">
        <div class="card">
            <div class="header">
                <h5>Diagnostic Data</h5>
            </div>
            <div class="body">
                <h6>Ping</h6>
                <p>
                    <i class="material-icons">airplay</i><strong>Ping (Status):</strong> @ViewBag.PingStatus<br />
                    <i class="material-icons">settings_ethernet</i><strong>Ping (Reply Address):</strong> @ViewBag.PingReplyAddress<br />
                    <i class="material-icons">sync</i><strong>Ping (ms):</strong> @ViewBag.PingResponseTime
                </p>

                <h6>IP Addresses</h6>
                <p>
                    <i class="material-icons">desktop_windows</i><strong>Operating System:</strong> @(Model.epType.Contains("Windows")? "Windows" : "Unknown")<br />
                    <i class="material-icons">settings_ethernet</i><strong>Known IP Address:</strong> @(Model.KnownIP)<br />
                    <i class="material-icons">settings_ethernet</i><strong>Alternative IP Address:</strong> @(Model.AlternateIP1)
                </p>

                <p>
                    <h6>Similar Endpoints:</h6><br />
                    @foreach (BoilerplatePro.nuDirect.EndpointEntities endpoint in ViewBag.SimilarEndpoints)
                    {
                        @Html.ActionLink(endpoint.Description, "ShowEndpointData", new { id = endpoint.EndpointId })<br />
                    }
                </p>
            </div>
        </div>
    </div>*@
</div>

<style>
    .card i.material-icons {
        vertical-align: top;
        margin-right: 5px;
        font-size: 20px;
    }
</style>